.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
}

.reveal h1 {
  font-size: 2.6em;
}

.reveal small {
  vertical-align: baseline;
}

.reveal pre.dark {
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #073642;
  border-left: 5px solid #073642;
  font-size: 0.45em;
}

.reveal pre.light {
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #d0cabb;
  border-left: 5px solid #d0cabb;
  font-size: 0.45em;
}

.reveal .extra-fragment {
  display: none;
}

.reveal .extra-fragment-visible {
  display: block;
}

.reveal.overview .slides section {
  height: unset;
  top: unset !important;
}

.reveal svg.d3 text.label {
  font-size: 10pt;
  font-family: sans-serif;
  fill: #839496;
}
